body{
    background: url(./sunny-weather.webp);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
    
}

body>h1{
    position: relative;
    left: 1rem;
    top: 1rem;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    font-family: 'Lato';
    font-weight: 400;
}



.weather-details{
    position: relative;
    width: 30%;
    height: 70%;
    
    background: rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    padding: 20px;
    display: flex;
    flex-direction: column;
}


.placeInput{
    display: flex;
    position: relative;
    gap: 5px;
    
    align-items: center;
}


#placeInput{
    width: 100%;
    color: white;
    background: transparent;
    border: none;
    outline: none;
    font-size: x-large;
}

::placeholder {
    color: white;
    opacity: 0.5; 
  }


.temperature {
    font-size: 120px;
    color: white;
    font-weight: 400;
    margin: 0px;
    
}



.temperature .degree {
    font-size: 0.4em; 
    vertical-align: super;
    margin: 0px;
    position: relative;
    top: -20px;
    left: 10px;
}

.range{
    width: 30%;
    height: 10%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.weather-info {
    margin-top: 20px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.weather-info p {
    margin: 0;
    color: white;
    font-size: 18px;
    font-weight: 300;
}
 


@media screen and (max-width: 600px) {
    .weather-details {
      width: 100%;
    }
    .range{
        width: 40%;
    }


  }
